/* ---------------- Acronimo ---------------- */
body {
    background-color: #f4f4f9;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #004d98; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a50044; 
}

.resultado {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}